{
  "fxaOAuth": {
    "client_id": "24bdbfa45cd300c5",
    "client_secret": "2be80db1d3cf5ddef69d5e23d7d1885e3bbc09f53781d44a8e2f3507a8d6a62c",
    "redirect_uri": "{{ oauth_public_url }}/console/oauth/redirect",
    "oauth_uri": "{{ oauth_public_url }}/v1",
    "oauth_internal_uri": "{{ oauth_public_url }}/v1",
    "profile_uri": "{{ profile_public_url }}/v1"
  },
  "base_url": "/console/",
  "server": {
    "session": "2be80db1d3cf5ddef69d"
  }
}
