{
  "server": {
    "port": {{ openid_private_port }},
    "publicUrl": "{{ openid_public_url }}"
  },
  "peers": {
    "content": "{{ content_public_url }}",
    "auth": "{{ auth_public_url }}"
  }
}
