{
  "server": {
    "port": {{ able_private_port }}
  },
  "oauth": {
    "host": "{{ oauth_domain_name }}"
  },
  "projects": {
    "registry": "{{ able_registry_repo }}#{{ able_registry_version }}"
  }
}
