[hekad]
max_timer_inject = 100
maxprocs = 1
max_process_duration = 1000000

[TcpInput]
address = "0.0.0.0:5565"
parser_type = "message.proto"
decoder = "ProtobufDecoder"

[DashboardOutput]
ticker_interval = 5

[FxaSandbox]
type = "SandboxManagerFilter"
message_matcher = "Type == 'heka.control.sandbox'"
max_filters = 15

[AuthElasticSearch]
type = "ElasticSearchOutput"
message_matcher = "Logger == 'FxaAuth' && Type != 'stat' && Type != 'server.nonceFunc'"
index = "authlogs-%{2006-01-02}"
type_name = "authlogline"
server = "http://127.0.0.1:9200"
cluster = "elasticsearch"
esindexfromtimestamp = true
flush_interval = 5000
flush_count = 100
format = "clean"
id = "%{UUID}"

[AuthDBElasticSearch]
type = "ElasticSearchOutput"
message_matcher = "Logger == 'FxaAuthDB' && Type != 'stat'"
index = "authlogs-%{2006-01-02}"
type_name = "authlogline"
server = "http://127.0.0.1:9200"
cluster = "elasticsearch"
esindexfromtimestamp = true
flush_interval = 5000
flush_count = 100
format = "clean"
id = "%{UUID}"

[ContentElasticSearch]
type = "ElasticSearchOutput"
message_matcher = "Logger == 'FxaContent'"
index = "authlogs-%{2006-01-02}"
type_name = "authlogline"
server = "http://127.0.0.1:9200"
cluster = "elasticsearch"
esindexfromtimestamp = true
flush_interval = 5000
flush_count = 100
format = "clean"
id = "%{UUID}"



[FxaAuthMemory]
type = "SandboxFilter"
script_type = "lua"
filename = "lua_filters/fxa_auth_memory.lua"
ticker_interval = 60
preserve_data = true
message_matcher = "Logger == 'FxaAuth' && Type == 'stat' && Fields[stat] == 'mem'"

    [FxaAuthMemory.config]
    anomaly_config = 'mww("Fxa Auth Server", 1, 30, 10, 0.0001, increasing)'
