location /heka {
  rewrite ^/heka(.*)$ $1 break;
  proxy_pass http://127.0.0.1:4352;
  proxy_read_timeout 90;
}

location /logs {
  alias /data/kibana/dist/;
  index index.html index.htm;
}

location ~ ^/logs/_aliases$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
location ~ ^/logs/.*/_aliases$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
location ~ ^/logs/_nodes$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
location ~ ^/logs/.*/_search$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
location ~ ^/logs/.*/_mapping {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}

# Password protected end points
location ~ ^/logs/kibana-int/dashboard/.*$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
location ~ ^/logs/kibana-int/temp.*$ {
  rewrite ^/logs(.*)$ $1 break;
  proxy_pass http://127.0.0.1:9200;
  proxy_read_timeout 90;
}
