[hekad]
max_timer_inject = 100
base_dir = "/data/hekad"

[StatAccumInput]
ticker_interval = 5
emit_in_payload = true

[StatsdInput]
address = "127.0.0.1:8125"

# TODO create a heka config for nodes that need an aggregator
