{
  "fxaccount_url": "{{ auth_public_url }}",
  "public_url": "{{ content_public_url }}",
  "oauth_url": "{{ oauth_public_url }}",
  "profile_url": "{{ profile_public_url }}",
  "env": "production",
  "use_https": false,
  "static_max_age" : 0,
  "route_log_format": "dev_fxa",
  "static_directory": "dist",
  "static_resource_url": "{{ content_static_resource_url }}",
  "page_template_subdirectory": "dist",
  "marketing_email": {
    "api_url": "{{ content_public_url }}/basket",
    "preferences_url": "https://www-dev.allizom.org/newsletter/existing/"
  },
  "csp": {
    "enabled": true,
    "reportUri": "/_/csp-violation",
    "reportOnlyEnabled": true,
    "reportOnlyUri": "/_/csp-violation-report-only"
  }
}
