location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://upstream_content_server;
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types application/javascript application/x-javascript application/html image/svg+xml text/css text/javascript text/plain text/partial;
}

# Note: /.well-known/ default route is defined in
# ./roles/auth/templates/nginx.conf.j2. Most specific route wins, so
# only the below routes are handled by the content server, and any
# other route under /.well-known is handled by the auth server.

location /.well-known/openid-configuration {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://upstream_content_server;
}

location /.well-known/fxa-client-configuration {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://upstream_content_server;
}

location /.well-known/apple-app-site-association {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://upstream_content_server;
}
