---
public_protocol: https
private_protocol: http
domain_name: "{{ subdomain }}.{{ hosted_zone }}"
sync_private_port: 9013
sync_git_repo: https://github.com/mozilla-services/syncserver.git
sync_git_version: master
sync_public_url: "{{ public_protocol }}://{{ domain_name }}/syncserver"
sync_master_secret: 5382b775a2bdbe0a65ea6cce55f49c4d466bfd7e
sync_db_host: 127.0.0.1
sync_db_password:
