{
    "publicUrl": "{{ auth_public_url }}",
    "domain": "{{ auth_domain }}",
    "db": {
        "backend": "httpdb"
    },
    "httpdb": {
      "url": "{{ authdb_server_url }}"
    },
    "secretKeyFile": "/data/fxa-auth-server/config/secret-key.json",
    "publicKeyFile": "/data/fxa-auth-server/config/public-key.json",
    "customsUrl": "{{ customs_server_url }}",
    "contentServer": {
        "url": "{{ content_server_url }}"
    },
    "templateServer": {
        "url": "{{ content_server_url }}"
    },
    "smtp":{
        "host": "{{ auth_mail.host }}",
        "port": {{ auth_mail.port }},
        "secure": false,
        "sender":"{{ auth_mail.sender }}",
        "templatePath":"/data/fxa-auth-server/templates/email",
        "redirectDomain": "firefox.com"
    },
    "listen": {
        "port": {{ auth_private_port }}
    }
}
