{
    "publicUrl": "{{ auth_public_url }}",
    "domain": "{{ domain_name }}",
    "db": {
        "backend": "httpdb"
    },
    "httpdb": {
      "url": "{{ authdb_server_url }}"
    },
    "secretKeyFile": "/data/fxa-auth-server/config/secret-key.json",
    "publicKeyFile": "/data/fxa-auth-server/config/public-key.json",
    "customsUrl": "{{ customs_server_url }}",
    "contentServer": {
        "url": "{{ content_public_url }}"
    },
    "smtp": {
        "host": "{{ auth_mail_host }}",
        "port": {{ auth_mail_port }},
        "secure": false,
        "sender":"{{ auth_mail_sender }}",
        "redirectDomain": "firefox.com"
    },
    "verificationReminders": {
      "rate": 1,
      "reminderTimeFirst": 40000,
      "reminderTimeSecond": 60000
    },
    "signinConfirmation": {
      "forcedEmailAddresses": "^(sync.*@restmail\\.net|.+@mozilla\\.com)$"
    },
    "signinUnblock": {
      "forcedEmailAddresses": "^(block.*@restmail\\.net|.+@mozilla\\.com)$"
    },
    "listen": {
        "port": {{ auth_private_port }}
    },
    "snsTopicArn": "{{ auth_sns_arn }}",
    "sms": {
      "useMock": {{ auth_sms_use_mock }},
      "isStatusGeoEnabled": {{ auth_sms_geo_enabled }}
    }
}
