{
  "port": {{ auth_mailer_port }},
  "contentServer": {
    "url": "{{ content_public_url }}"
  },
  "mail": {
    "host": "{{ auth_mail_host }}",
    "port": {{ auth_mail_port }},
    "secure": false,
    "sender": "{{ auth_mail_sender }}",
    "verificationUrl": "{{ auth_mailer_verify_url }}",
    "passwordResetUrl": "{{ auth_mailer_recovery_url }}"
  },
  "verificationReminders": {
    "reminderTimeFirst": 20000,
    "reminderTimeSecond": 40000
  }
}
