location /auth/ {
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_redirect off;
  proxy_pass http://upstream_auth_server;
}

# Note: the following routes are defined in ./roles/content/templates/nginx.conf.j2:
#  * /.well-known/openid-configuration
#  * /.well-known/fxa-client-configuration
# Most specific route wins, so those are handled by the content server,
# and any other route under /.well-known is handled by the auth server.

location /.well-known/ {
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_redirect off;
  proxy_pass http://upstream_auth_server;
}
