{
  "contentUrl": "{{ content_public_url }}/oauth/",
  "db": {
    "driver": "mysql"
  },
  "mysql": {
    "password": "{{ oauth_db_password }}",
    "host": "{{ oauth_db_host }}"
  },
  "browserid": {
    "issuer": "{{ browserid_issuer }}"
  },
  "publicUrl": "{{ oauth_public_url }}",
  "clients": [
    {
      "id": "dcdb5ae7add825d2",
      "hashedSecret": "289a885946ee316844d9ffd0d725ee714901548a1e6507f1a40fb3c2ae0c99f1",
      "name": "123done",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "{{ rp_public_url }}/api/oauth",
      "whitelisted": true
    },
    {
      "id": "263ceaa5546dce83",
      "hashedSecret": "3c32099123471ffb80a7553558e6a6e8589da2235a4e081fe9d76648aa25d050",
      "name": "Loop",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "urn:ietf:wg:oauth:2.0:fx:webchannel",
      "whitelisted": true
    },
    {
      "id": "11c73e2d918ae5d9",
      "hashedSecret": "728795b0d64220589274dc65b08ab5b5dc790ce65400b0f500af8682166e5f75",
      "name": "Firefox Marketplace DEV",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "https://marketplace-dev.allizom.org/fxa-authorize",
      "whitelisted": true
    },
    {
      "id": "609432f837e54ac2",
      "hashedSecret": "aee804ebda4d29d321a0475a772733ba1b2ce48d693e3a077fe3b993260200aa",
      "name": "Marketplace Payments Dev",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "https://marketplace-dev.allizom.org/mozpay/spa/fxa-auth",
      "whitelisted": true
    },
    {
      "id": "56fc6da8d185c8e3",
      "hashedSecret": "ea72f2d272d71f792c4d6a178e8d98f34478c309f903c0b07765f73af9e68e92",
      "name": "Firefox Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost/fxa-authorize",
      "whitelisted": true
    },
    {
      "id": "59cb05f1f283905a",
      "hashedSecret": "6414eaea52b7f48671f9d7d8e6fb0f6d8d61aa6b37b5aae257af1e2530595ebb",
      "name": "Firefox Marketplace Alt DEV",
      "imageUri": "https://oauth-marketplace.dev.lcip.org/img/logo@2x.png",
      "redirectUri": "https://marketplace-altdev.allizom.org/fxa-authorize",
      "whitelisted": true
    },
    {
      "id": "85d69c6e30b5e52d",
      "hashedSecret": "bdb6d7a29de0df0d8e0b5c0fdb6f5121ad9c4608ec065ac533ae54484bdfb6b5",
      "name": "Firefox Marketplace Payments Alt DEV",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://payments-alt.allizom.org/fxa-authorize",
      "whitelisted": true
    },
    {
      "id": "514dadc7fd674e63",
      "hashedSecret": "df978ebaba5e02f889189ec5ef09fb1b925832660da91d59595288f2b76a4301",
      "name": "Marketplace Payments Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://payments-alt.allizom.org/mozpay/spa/fxa-auth",
      "whitelisted": true
    },
    {
      "id": "56fc6da8d185c8e4",
      "hashedSecret": "cd7d4c9d35f61d1742429f467baecd701eb59055d2e0a64783aa94120d820c4d",
      "name": "Fireplace Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://localhost:8080/fxa-authorize",
      "whitelisted": true
    },
    {
      "id": "7943afb7b9f54089",
      "hashedSecret": "7b9b24f0fd7f5c0f46ba3ad3517eea378e6f91597f7c204657eb8f0004ef5e25",
      "name": "Fireplace Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://mp.dev/fxa-authorize",
      "whitelisted": true
    },

    {
      "id": "13a9e472ef33b1b8",
      "hashedSecret": "0ea73aaef0735071be2dea579169f15c046ab6cfcdcbf88f94feba4ee4d56ea3",
      "name": "FMD Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8000/oauth",
      "whitelisted": true
    },
    {
      "id": "0fddc2b28f47c2d7",
      "hashedSecret": "101bc81fbf06a7cebc8539c6953ccbfb810bf6ef67ff2eacd8c81227b386e326",
      "name": "Find My Device Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://fmd.dev.mozaws.net/oauth",
      "whitelisted": true
    },

    {
      "id": "5882386c6d801776",
      "name": "Firefox Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "whitelisted": true,
      "canGrant": true
    },
    {
      "id": "3332a18d142636cb",
      "name": "Fennec Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "whitelisted": true,
      "canGrant": true
    },
    {
      "id": "d0eea24a1d613eeb",
      "name": "Firefox OS Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "whitelisted": true,
      "canGrant": true
    },
    {
      "id": "ea3ca969f8c6bb0d",
      "name": "Firefox Accounts Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "whitelisted": true,
      "canGrant": true
    }

  ],
  "env": "stage",
  "logging": {
    "formatters": {
      "pretty": {
        "format": "[%(date)s] %(name)s.%(levelname)s: %(message)s",
        "colorize": false
      }
    },
    "handlers": {
      "console": {
        "formatter": "pretty"
      }
    },
    "loggers": {
      "fxa": {
        "level": "verbose"
      }
    }
  }
}
