{
  "auth": {
    "url": "{{ auth_public_url }}"
  },
  "contentUrl": "{{ content_public_url }}/oauth/",
  "db": {
    "driver": "mysql"
  },
  "mysql": {
    "password": "{{ oauth_db_password }}",
    "host": "{{ oauth_db_host }}",
    "connectionLimit": 5
  },
  "browserid": {
    "issuer": "{{ browserid_issuer }}"
  },
  "localRedirects": true,
  "publicUrl": "{{ oauth_public_url }}",
  "clientManagement": {
    "enabled": true
  },
  "clients": [
    {
      "id": "dcdb5ae7add825d2",
      "hashedSecret": "289a885946ee316844d9ffd0d725ee714901548a1e6507f1a40fb3c2ae0c99f1",
      "name": "123done",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "{{ rp_public_url }}/api/oauth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "325b4083e32fe8e7",
      "hashedSecret": "ded3c396f28123f3fe6b152784e8eab7357c6806cb5175805602a2cd67f85080",
      "name": "321Done Untrusted",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "{{ rp_untrusted_public_url }}/api/oauth",
      "trusted": false,
      "canGrant": false
    },
    {
      "id": "c6d74070a481bc10",
      "name": "Notes",
      "hashedSecret": "9c716ed2927c96cdc0fb7efe57d5f124fb4161066c1ff7f4263069822256ec3f",
      "redirectUri": "https://dee85c67bd72f3de1f0a0fb62a8fe9b9b1a166d7.extensions.allizom.org/",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/notes"
    },
    {
      "id": "802d56ef2a9af9fa",
      "name": "Monitor Dev",
      "hashedSecret": "697951834d6bec73c6d61e78bf54cdd37dc5d3cf6fd06c84082868141de3500d",
      "redirectUri": "https://monitor.firefox.com/oauth/confirmed",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "profile"
    },
    {
      "id": "241585c1745a144d",
      "name": "FPN Mobile Dev",
      "hashedSecret": "697951834d6bec73c6d61e78bf54cdd37dc5d3cf6fd06c84082868141de3500d",
      "redirectUri": "{{ content_public_url }}/oauth/success/3c49430b43dfba77",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "profile https://identity.mozilla.com/apps/secure-proxy"
    },
    {
      "id": "7f368c6886429f19",
      "name": "Notes Android Dev",
      "hashedSecret": "9c716ed2927c96cdc0fb7efe57d5f124fb4161066c1ff7f4263069822256ec3f",
      "redirectUri": "https://mozilla.github.io/notes/fxa/android-redirect.html",
      "imageUri": "",
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/notes",
      "publicClient": true
    },
    {
      "id": "b7d74070a481bc11",
      "name": "Notes Android",
      "hashedSecret": "9c716ed2927c96cdc0fb7efe57d5f124fb4161066c1ff7f4263069822256ec3f",
      "redirectUri": "https://mozilla-lockbox.github.io/fxa/ios-redirect.html",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/notes"
    },
    {
      "id": "37fdfa37698f251a",
      "name": "Lockbox Extension",
      "hashedSecret": "ca287a384b269492655ccd61fcadffe4d40d4d5d648209f96ee955d45f0ca05c",
      "redirectUri": "https://2aa95473a5115d5f3deb36bb6875cf76f05e4c4d.extensions.allizom.org/",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/lockbox https://identity.mozilla.com/apps/oldsync"
    },
    {
      "id": "98adfa37698f255b",
      "name": "Lockbox for iOS",
      "hashedSecret": "fe287a384b269492655ccd61fcadffe4d40d4d5d648209f96ee955d45f0ca05c",
      "redirectUri": "https://lockbox.firefox.com/fxa/ios-redirect.html",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/lockbox https://identity.mozilla.com/apps/oldsync"
    },
    {
      "id": "fced6b5e3f4c66b9",
      "name": "Firefox Send",
      "hashedSecret": "9bf92c1039659ba630db763a02653159e827436caf486a367f10ecfac1dd6b03",
      "redirectUri": "https://send2.dev.lcip.org/api/fxa/oauth",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/send"
    },
    {
      "id": "ddd334467337344a",
      "name": "FxA Test WebExtension",
      "hashedSecret": "ac287a384b269492655ccd61fcadffe4d40d4d5d648209f96ee955d45f0ca05c",
      "redirectUri": "https://b933c11da20e7655ecad26318f3aaa797c401602.extensions.allizom.org/",
      "imageUri": "",
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "publicClient": true,
      "allowedScopes": "https://identity.mozilla.com/apps/scoped-example"
    },
    {
      "id": "12cc4070a481bc73",
      "name": "Test Android - APP URL redirect",
      "hashedSecret": "88716ed2927c96cdc0fb7efe57d5f124fb4161066c1ff7f4263069822256ec66",
      "redirectUri": "fxaclient://android.redirect",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/oldsync"
    },
    {
      "id": "a2270f727f45f648",
      "name": "Firefox Preview - Dev",
      "hashedSecret": "99716ed2927c96cdc0fb7efe57d5f124fb4161066c1ff7f4263069822256ec66",
      "redirectUri": "{{ content_public_url }}/oauth/success/a2270f727f45f648",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/oldsync https://identity.mozilla.com/tokens/session"
    },
    {
      "name": "FxA OAuth Console DEV",
      "redirectUri": "{{ oauth_public_url }}/console/oauth/redirect",
      "imageUri": "{{ oauth_public_url }}/console/oauth/image.png",
      "canGrant": false,
      "id": "24bdbfa45cd300c5",
      "hashedSecret": "dfe56d5c816d6b7493618f6a1567cfed4aa9c25f85d59c6804631c48774ba545",
      "trusted": true
    },

    {
      "id": "5882386c6d801776",
      "name": "Firefox Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "urn:ietf:wg:oauth:2.0:oob",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "3332a18d142636cb",
      "name": "Fennec Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "d0eea24a1d613eeb",
      "name": "Firefox OS Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "ea3ca969f8c6bb0d",
      "name": "Firefox Accounts Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true,
      "publicClient": true
    },
    {
      "id": "3c49430b43dfba77",
      "name": "Android Components Reference Browser",
      "hashedSecret": "a7ee3482fab1782f5d3945cde06bb911605a8dfc1a45e4b77bc76615d5671e51",
      "imageUri": "",
      "redirectUri": "{{ content_public_url }}/oauth/success/3c49430b43dfba77",
      "canGrant": true,
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/oldsync https://identity.mozilla.com/tokens/session",
      "publicClient": true
    },
    {
      "id": "66041b7ec3991ec0",
      "name": "FxaOauthClient",
      "hashedSecret": "13285a0eec1a29bc9f14267251d32fbcaf56dd7f0fb5f1121bcede6b4f11a8cb",
      "imageUri": "",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "33c663065dee0b86",
      "name": "Firefox Browser Compatibility API",
      "hashedSecret": "ef9b091498b2b1ba01ab4e06993b10393cb059a06a8f33941334ab83f84872f5",
      "imageUri": "",
      "redirectUri": "https://browsercompat.herokuapp.com/accounts/fxa/login/callback/",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "98e6508e88680e1a",
      "hashedSecret": "ba5cfb370fd782f7eae1807443ab816288c101a54c0d80a09063273c86d3c435",
      "name": "Firefox Accounts Settings",
      "imageUri": "https://example2.domain/logo",
      "redirectUri": "https://example2.domain/return?foo=bar",
      "trusted": true,
      "canGrant": true,
      "publicClient": true
    },
    {
      "id": "1b1a3e44c54fbb58",
      "hashedSecret": "894669f8a640e824a52e268d51d7732b1b77267300a11cc77145ad0ef81a0c17",
      "name": "Firefox Accounts Dev iOS",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "1a118eae25503e99",
      "hashedSecret": "19a305e07dc4fdc502321f82745fb0c0de80d31cfa26976ad1117f898cbd1c81",
      "name": "Mozilla IAM",
      "imageUri": "",
      "redirectUri": "https://auth-dev.mozilla.auth0.com/login/callback",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "59cceb6f8c32317c",
      "hashedSecret": "7a9737e0177617fab48cab299fed0b4d2d1df6954ac21a1f253a6c752a2036e5",
      "name": "Mozilla subscriptions management",
      "imageUri": "",
      "redirectUri": "",
      "publicClient": true,
      "trusted": true,
      "canGrant": true,
      "allowedScopes": "https://identity.mozilla.com/account/subscriptions"
    },
    {
      "id": "85da77264642d6a1",
      "name": "Firefox for Fire TV - Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "redirectUri": "{{ content_public_url }}/oauth/success/85da77264642d6a1",
      "imageUri": "",
      "publicClient": true,
      "canGrant": false,
      "termsUri": "",
      "privacyUri": "",
      "trusted": true,
      "allowedScopes": "https://identity.mozilla.com/apps/oldsync"
    },
    {
      "id": "a8c528140153d1c6",
      "name": "Firefox Private Network - Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "redirectUri": "https://cb7cbf5bedba243279adcd23bc6b88de7a304388.extensions.allizom.org/",
      "imageUri": "",
      "canGrant": false,
      "trusted": true,
      "publicClient": true
    }
  ],
  "scopes": [
    {
      "scope": "https://identity.mozilla.com/apps/notes",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/apps/secure-proxy",
      "hasScopedKeys": false
    },
    {
      "scope": "https://identity.mozilla.com/apps/scoped-example",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/apps/lockbox",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/apps/oldsync",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/apps/send",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/admin",
      "hasScopedKeys": true
    },
    {
      "scope": "https://identity.mozilla.com/account/subscriptions",
      "hasScopedKeys": false
    },
    {
      "scope": "https://identity.mozilla.com/tokens/session",
      "hasScopedKeys": false
    }
  ],
  "env": "stage",
  "logging": {
    "fmt": "pretty",
    "level": "all"
  },
  "events": {
    "region": "{{ region }}",
    "queueUrl": "{{ oauth_queue_url }}"
  },
  "openid": {
    "keyFile": "config/key.json",
    "key": {},
    "issuer": "{{ content_public_url }}"
  },
  "jwtAccessTokens": {
    "enabled": true,
    "enabledClientIds": [
      "98e6508e88680e1a",
      "dcdb5ae7add825d2",
      "1c7882c43994658e",
      "a8c528140153d1c6"
    ]
  },
  "allowHttpRedirects": true,
  "authServerSecrets": ["megaz0rd"]
}
