{
  "contentUrl": "{{ content_public_url }}/oauth/",
  "db": {
    "driver": "mysql"
  },
  "mysql": {
    "password": "{{ oauth_db_password }}",
    "host": "{{ oauth_db_host }}",
    "connectionLimit": 5
  },
  "browserid": {
    "issuer": "{{ browserid_issuer }}"
  },
  "localRedirects": true,
  "publicUrl": "{{ oauth_public_url }}",
  "clients": [
    {
      "id": "dcdb5ae7add825d2",
      "hashedSecret": "289a885946ee316844d9ffd0d725ee714901548a1e6507f1a40fb3c2ae0c99f1",
      "name": "123done",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "{{ rp_public_url }}/api/oauth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "325b4083e32fe8e7",
      "hashedSecret": "ded3c396f28123f3fe6b152784e8eab7357c6806cb5175805602a2cd67f85080",
      "name": "321Done Untrusted",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "{{ rp_untrusted_public_url }}/api/oauth",
      "trusted": false,
      "canGrant": false
    },
    {
      "id": "263ceaa5546dce83",
      "hashedSecret": "3c32099123471ffb80a7553558e6a6e8589da2235a4e081fe9d76648aa25d050",
      "name": "Loop",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "urn:ietf:wg:oauth:2.0:fx:webchannel",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "11c73e2d918ae5d9",
      "hashedSecret": "728795b0d64220589274dc65b08ab5b5dc790ce65400b0f500af8682166e5f75",
      "name": "Firefox Marketplace DEV",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "https://marketplace-dev.allizom.org/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "609432f837e54ac2",
      "hashedSecret": "aee804ebda4d29d321a0475a772733ba1b2ce48d693e3a077fe3b993260200aa",
      "name": "Marketplace Payments Dev",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "https://marketplace-dev.allizom.org/mozpay/spa/fxa-auth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "56fc6da8d185c8e3",
      "hashedSecret": "ea72f2d272d71f792c4d6a178e8d98f34478c309f903c0b07765f73af9e68e92",
      "name": "Firefox Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "59cb05f1f283905a",
      "hashedSecret": "6414eaea52b7f48671f9d7d8e6fb0f6d8d61aa6b37b5aae257af1e2530595ebb",
      "name": "Firefox Marketplace Alt DEV",
      "imageUri": "https://oauth-marketplace.dev.lcip.org/img/logo@2x.png",
      "redirectUri": "https://marketplace-altdev.allizom.org/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "85d69c6e30b5e52d",
      "hashedSecret": "bdb6d7a29de0df0d8e0b5c0fdb6f5121ad9c4608ec065ac533ae54484bdfb6b5",
      "name": "Firefox Marketplace Payments Alt DEV",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://payments-alt.allizom.org/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "514dadc7fd674e63",
      "hashedSecret": "df978ebaba5e02f889189ec5ef09fb1b925832660da91d59595288f2b76a4301",
      "name": "Marketplace Payments Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://payments-alt.allizom.org/mozpay/spa/fxa-auth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "f69290928139452e",
      "hashedSecret": "834c1ba8670e3a156069ad0c6f80b40c5d55a221099eccdbe4e8e5bf400840e3",
      "name": "Marketplace Payments Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://mp.dev/mozpay/spa/fxa-auth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "56fc6da8d185c8e4",
      "hashedSecret": "cd7d4c9d35f61d1742429f467baecd701eb59055d2e0a64783aa94120d820c4d",
      "name": "Fireplace Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://localhost:8080/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "7943afb7b9f54089",
      "hashedSecret": "7b9b24f0fd7f5c0f46ba3ad3517eea378e6f91597f7c204657eb8f0004ef5e25",
      "name": "Fireplace Marketplace Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://mp.dev/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "124ae9dff020ba79",
      "hashedSecret": "a0774805ce26c5bbbef8410710f1fcc9b500aff194dc126d5c9ad4d0fe8e4b6e",
      "name": "Fireplace Marketplace Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8675/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "31b549f7dfb4de69",
      "hashedSecret": "dc5942395b4de8e0939f3e5a0d5c6627a5151867a2eef1f98b27971f52a138f8",
      "name": "Fireplace Marketplace Comm Dashboard Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8676/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "cc389d4ccd6cd34d",
      "hashedSecret": "1dedcb7feef48e457d3ae5b610ea16b1d65bc7eb25c9c925ecb99d9f007898f5",
      "name": "Fireplace Marketplace Stats Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8677/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "47354b86fb361c7e",
      "hashedSecret": "8b68550d048b9ce6c0027c79c2a326f9466a5d6108ca766f2014c69b141d2ce5",
      "name": "Fireplace Marketplace Editorial Tools Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8678/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "049d4b105daa1cb9",
      "hashedSecret": "8067ed3ed16a2cd08e6e38e0fb8fc31100b0b83c27f3deaffeb73f7a4b3aec79",
      "name": "Fireplace Marketplace Operator Dashboard Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8679/fxa-authorize",
      "trusted": true,
      "canGrant": false
    },

    {
      "id": "13a9e472ef33b1b8",
      "hashedSecret": "0ea73aaef0735071be2dea579169f15c046ab6cfcdcbf88f94feba4ee4d56ea3",
      "name": "FMD Local",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "http://localhost:8000/oauth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "0fddc2b28f47c2d7",
      "hashedSecret": "101bc81fbf06a7cebc8539c6953ccbfb810bf6ef67ff2eacd8c81227b386e326",
      "name": "Find My Device Dev",
      "imageUri": "https://marketplace-dev.mozflare.net/media/img/mkt/logos/128.png",
      "redirectUri": "https://find.dev.mozaws.net/oauth",
      "trusted": true,
      "canGrant": false
    },
    {
      "name": "FxA OAuth Console DEV",
      "redirectUri": "{{ oauth_public_url }}/console/oauth/redirect",
      "imageUri": "{{ oauth_public_url }}/console/oauth/image.png",
      "canGrant": false,
      "id": "24bdbfa45cd300c5",
      "hashedSecret": "dfe56d5c816d6b7493618f6a1567cfed4aa9c25f85d59c6804631c48774ba545",
      "trusted": true
    },

    {
      "id": "5882386c6d801776",
      "name": "Firefox Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "3332a18d142636cb",
      "name": "Fennec Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "d0eea24a1d613eeb",
      "name": "Firefox OS Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "ea3ca969f8c6bb0d",
      "name": "Firefox Accounts Dev",
      "hashedSecret": "0000000000000000000000000000000000000000000000000000000000000000",
      "imageUri": "{{ oauth_public_url }}/img/logo@2x.png",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "name": "MozStumbler DEV",
      "redirectUri": "urn:ietf:wg:oauth:2.0:oob",
      "imageUri": "https://location.services.mozilla.com/static/images/mls-logo@2x.png",
      "canGrant": false,
      "id": "08c0eb0d8c85b964",
      "hashedSecret": "7c4ec2a501bbe7f8779274e58c3f69488f18bd13c6c84996b84047f328743f49",
      "trusted": true
    },
    {
      "id": "1f9bbddcb3e160ab",
      "name": "Chronicle Dev",
      "hashedSecret": "fb6bf508550fd3400e6bb0bc7473802b65e406a94896fd1f4b9e7ccf5e8c5b7c",
      "imageUri": "https://location.services.mozilla.com/static/images/mls-logo@2x.png",
      "redirectUri": "http://localhost:8080/auth/complete",
      "canGrant": false,
      "trusted": true
    },
    {
      "id": "4ff309037e461cc4",
      "name": "BuddyUp",
      "hashedSecret": "97285a0eec1a29bc9f14267251d32fbcaf56dd7f0fb5f1121bcede6b4f11a8ab",
      "imageUri": "",
      "redirectUri": "https://support.mozilla.org/redirects/buddyup-fxa-oauth",
      "trusted": true,
      "canGrant": false
    },
    {
      "id": "66041b7ec3991ec0",
      "name": "FxaOauthClient",
      "hashedSecret": "13285a0eec1a29bc9f14267251d32fbcaf56dd7f0fb5f1121bcede6b4f11a8cb",
      "imageUri": "",
      "redirectUri": "",
      "trusted": true,
      "canGrant": true
    },
    {
      "id": "33c663065dee0b86",
      "name": "Firefox Browser Compatibility API",
      "hashedSecret": "ef9b091498b2b1ba01ab4e06993b10393cb059a06a8f33941334ab83f84872f5",
      "imageUri": "",
      "redirectUri": "https://browsercompat.herokuapp.com/accounts/fxa/login/callback/",
      "trusted": true,
      "canGrant": false
    }
  ],
  "env": "stage",
  "serverInternal": {
    "host": "127.0.0.1",
    "port": {{ oauth_internal_private_port }}
  },
  "logging": {
    "fmt": "pretty",
    "level": "all"
  },
  "openid": {
    "keyFile": "../config/key.json",
    "key": {},
    "issuer": "{{ content_public_url }}"
  },
  "allowHttpRedirects": true
}
