upstream upstream_oauth_server {
    server 127.0.0.1:{{ oauth_private_port }};
}

# pull in upstream_oauth_console_server
include /etc/nginx/conf.d/oauth_console/upstream/*.conf;

server {
  listen 1443;
  server_name {{ oauth_domain_name }};

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://upstream_oauth_server;
  }

  # pull in location /console
  include /etc/nginx/conf.d/oauth_console/location/*.conf;
}
